.row {
    margin-top: 2em;
    text-align: center;
}

h3{
    color: #644f7a;
    margin-bottom: 1em;
}

input{
    width: 45%;
    border: 0;
    outline: 0;
    background: transparent;
    padding: 5px;
    border-bottom: 2px solid rgba(100,79,122,0.5);
}

button{
    background-color: #644f7a;
    border: none;
    padding: 5px 15px;
    color: #fff;
    border-radius: 5px;
    margin-top: 20px;
}

button:hover{
    background-color: #5a476d;
}

.nav-tabs-custom{
    background-color: transparent;
}

.tab-pane{
    padding: 1em;
}

.reqtype{
    margin-top: 1em;
}