html,body{
    height: 100%;
}

body{
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #fdfbfb;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #ebedee, #fdfbfb);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #ebedee, #fdfbfb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container{
    flex: 1 0 auto;
    margin-bottom: 5em;
}

