h3{
    text-align: center;
    margin: 1em 0;
}

.col-md-4{
    text-align: justify;
}

.proc_name{
    text-align: center;
    color: #336699;
}

form{
    margin-top: 10px;
    text-align: center;
}

input{
    margin: 10px;
}

button{
    margin-top: 15px;
}
