h3{
    text-align: center;
    margin: 1em 0 2em 0;
}

.col-md-4{
    text-align: justify;
}

.proc_name{
    text-align: center;
    color: #336699;
}

form{
    margin-top: 20px;
}

.form-group{
    margin-top: 25px;
}

input{
    width: 100%;
    border: 0;
    outline: 0;
    background: transparent;
    padding: 5px;
    border-bottom: 2px solid rgba(53, 158, 134, .5);
}

button{
 }

.button_div{
    margin-top: 40px;
    text-align: center;
}