h3{
    text-align: center;
    margin: 1em 0 2em 0;
}

.col-md-4{
    text-align: justify;
}

.proc_name{
    text-align: center;
    color: #644f7a;
}

form{
    margin-top: 20px;
}

.form-group{
    margin-top: 25px;
}

input{
    width: 100%;
    border: 0;
    outline: 0;
    background: transparent;
    padding: 5px;
    border-bottom: 2px solid rgba(100,79,122,.5);
}

button{
    background-color: #644f7a;
    border: none;
    padding: 5px 15px;
    color: #fff;
    border-radius: 5px;
    margin-top: 20px;
}

button:hover{
    background-color: #5a476d;
}

.button_div{
    margin-top: 40px;
    text-align: center;
}

.intro{
    text-align: center;
    color: #5a476d;
}

.intro p{
    font-size: 15px;
}

.main-buttons{
    margin-top: 1em;
}

.sbutton, .ibutton{
    border-radius: 5px;
}