<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="/header"></th:block>
    <title>Access Denied</title>
</head>

<body>
<!-- Include _menu.html -->
<th:block th:include="/_menu"></th:block>

<div class="container">
    <h3 th:if="${message != null}" th:utext="${message}" style="color: firebrick;"></h3>
    <div th:if="${userInfo != null}" th:utext="${userInfo}"></div>
</div>

<!-- include footer.html -->
<th:block th:include="/_footer"></th:block>

</body>

</html>