<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="/header"></th:block>
    <link href="../static/css/search.css" th:href="@{/css/search.css}" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.css">
    <title th:utext="${title}"></title>
</head>

<body>

<!-- Include _menu.html -->
<th:block th:include="/_menu"></th:block>

<div class="container">
    <div class="row">
        <div class="col-md-5">
            <h3>Service Request Search:</h3>
            <p class="description">Search the database for incidents</i></p>
            <form th:action="@{/search}" th:method="POST" >
                    <div class="form-group">
                        <input type="text" name="zipcode" placeholder="Zip Code">
                    </div>
                    <div>
                        <input type="text" name="address" placeholder="Address">
                    </div>
                    <div class="form-group reqtype">
                        <select name="reqtype">
                            <option value="">Select Request Type</option>
                            <option th:each="reqType : ${serviceRequestTypes}"
                                    th:value="${reqType.value}"
                                    th:text="${reqType.value}">
                            </option>
                        </select>
                    </div>
                    <div class="button_div">
                        <button type="submit"> Search </button>
                    </div>
                </form>
        </div>
        <div class="col-md-7">
            <!-- Custom Tabs -->
            <div class="nav-tabs-custom">
                <h3>Search Suggestions:</h3>
                <p class="description">Common incident searches</i></p>
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab_1" data-toggle="tab">Suggestion 1</a></li>
                    <li><a href="#tab_2" data-toggle="tab">Suggestion 2</a></li>
                    <li><a href="#tab_3" data-toggle="tab">Suggestion 3</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1">
                        <h4 class="proc_name">Search Suggestion 1</h4>
                        <p class="description">
                            Find the total requests per type that were created within a specified time range and sort them in a descending order.
                        </p>
                        <form th:action="@{/spResults/1}" th:method="POST" >
                            <div class="form-group">
                                <label>Start Date:</label>
                                <input type="date" name="sdate">
                            </div>
                            <div class="form-group">
                                <label>End Date:</label>
                                <input type="date" name="edate">
                            </div>
                            <div class="button_div">
                                <button type="submit" id="submitButton"> Search </button>
                            </div>
                        </form>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="tab_2">
                        <h4 class="proc_name">Search Suggestion 2</h4>
                        <p class="description">
                            Find the total requests per day for a specific request type and time range.
                        </p>
                        <form th:action="@{/spResults/2}" th:method="POST" >
                            <div class="form-group">
                                <label>Start Date:</label>
                                <input type="date" name="sdate">
                            </div>
                            <div class="form-group">
                                <label>End Date:</label>
                                <input type="date" name="edate">
                            </div>
                            <div class="form-group">
                                <label>Request Type:</label>
                                <select name="reqtype">
                                    <option value="">Select Request Type</option>
                                    <option th:each="reqType : ${serviceRequestTypes}"
                                            th:value="${reqType.value}"
                                            th:text="${reqType.value}">
                                    </option>
                                </select>
                            </div>
                            <div class="button_div">
                                <button type="submit" id="submitButton2"> Search </button>
                            </div>
                        </form>
                    </div>
                    <!-- /.tab-pane -->
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="tab_3">
                        <h4 class="proc_name">Search Suggestion 3</h4>
                        <p class="description">
                            Find the most common service request per zipcode for a specific day.
                        </p>
                        <form th:action="@{/spResults/3}" th:method="POST" >
                            <div class="form-group">
                                <label>Start Date:</label>
                                <input type="date" name="sdate">
                            </div>
                            <div class="button_div">
                                <button type="submit" id="submitButton3"> Search </button>
                            </div>
                        </form>
                    </div>
                    <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
            </div>
        <!-- nav-tabs-custom -->
        </div>
    </div>
</div>
<th:block th:include="/_footer"></th:block>

<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.js"></script>
<script th:src="@{/bower_components/jquery/dist/jquery.min.js}"></script>
<script th:src="@{bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>

<script>
    $(document).ready( function () {
        $('#res-table').DataTable({
            "bFilter" : false
        });
    } );
</script>

</body>

</html>