<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="/header"></th:block>
    <title>User Info</title>
</head>
<body>

<th:block th:include="/_menu"></th:block>

<div class="container">
    <!-- Include _menu.html -->
    <h2>User Info Page</h2>
    <h3>Welcome : <span th:utext="${#request.userPrincipal.name}"></span></h3>
    <b>This is protected page!</b>
    <br/><br/>
    <div th:if="${userInfo != null}" th:utext="${userInfo}"></div>
</div>

</body>

</html>