<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="/header"></th:block>
    <link href="../static/css/welcome.css" th:href="@{/css/welcome.css}" rel="stylesheet" />
    <title th:utext="${title}"></title>
</head>

<body>

<!-- Include _menu.html -->
<th:block th:include="/_menu"></th:block>

<div class="container">
    <div class="row intro">
        <h2>Welcome to <b>311 Chicago Incidents</b></h2>
        <p>Here you can <i>search</i> for specific incidents or you can <i>insert</i> new incidents</p>
    </div>
    <div class="row main-buttons">
        <div class="col-lg-6 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-purple sbutton">
                <div class="inner">
                    <h3>Search</h3>
                    <p>Existing Incidents</p>
                </div>
                <div class="icon">
                    <i class="fa fa-search"></i>
                </div>
                <a th:href="@{/search}" class="small-box-footer">
                    Proceed <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-6 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-maroon ibutton">
                <div class="inner">
                    <h3>Insert</h3>
                    <p>New Incidents</p>
                </div>
                <div class="icon">
                    <i class="fa fa-plus"></i>
                </div>
                <a th:href="@{/insert}" class="small-box-footer">
                    Proceed <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- include footer.html -->
<th:block th:include="/_footer"></th:block>
<script th:src="@{/bower_components/jquery/dist/jquery.min.js}"></script>
<script th:src="@{bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>

</body>

</html>