<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="/header"></th:block>
    <link href="../static/css/welcome.css" th:href="@{/css/welcome.css}" rel="stylesheet" />
    <title th:utext="${title}"></title>
</head>

<body>

<!-- Include _menu.html -->
<th:block th:include="/_menu"></th:block>

<div class="container">

    <div class="row">
        <h3>
            In this page, we will test some of the Stored Procedures we have developed for our project.
        </h3>
        <div class="col-md-4">
            <h4 class="proc_name">Stored Procedure 1</h4>
            <p class="description">
                Find the total requests per type that were created within a specified time range and sort them in a descending order.
            </p>
            <form th:action="@{/spResults/1}" th:method="POST" >
                <div class="form-group">
                    <label>Start Date:</label>
                    <input type="date" name="sdate">
                </div>
                <div class="form-group">
                    <label>End Date:</label>
                    <input type="date" name="edate">
                </div>
                <div class="button_div">
                    <button type="submit" id="submitButton"> Test SP1 </button>
                </div>
            </form>
        </div>
        <div class="col-md-4">
            <h4 class="proc_name">Stored Procedure 2</h4>
            <p class="description">
                Find the total requests per day for a specific request type and time range.
            </p>
            <form th:action="@{/spResults/2}" th:method="POST" >
                <div class="form-group">
                    <label>Start Date:</label>
                    <input type="date" name="sdate">
                </div>
                <div class="form-group">
                    <label>End Date:</label>
                    <input type="date" name="edate">
                </div>
                <div class="form-group">
                    <label>Request Type:</label>
                    <input type="text" name="reqtype">
                </div>
                <div class="button_div">
                    <button type="submit" id="submitButton2"> Test SP2 </button>
                </div>
            </form>
        </div>
        <div class="col-md-4">
            <h4 class="proc_name">Stored Procedure 3</h4>
            <p class="description">
                Find the most common service request per zipcode for a specific day.
            </p>
            <form th:action="@{/spResults/3}" th:method="POST" >
                <div class="form-group">
                    <label>Start Date:</label>
                    <input type="date" name="sdate">
                </div>
                <div class="button_div">
                    <button type="submit" id="submitButton3"> Test SP3 </button>
                </div>
            </form>
        </div>
    </div>

</div>

</body>

</html>